.has-gray-background {
  background-color: #f9f9f9;
}

.has-justify-flex-end {
    justify-content: flex-end !important;
}

.has-primary-background {
    background-color: $primary !important;
}

.has-text-gray-primary {
    color: #4a4a4a !important;
}

.is-mr-top-xs {
    margin-top: 1px;
}

.padless-right {
    padding-right: 0px !important;
}
