@import '../../variables';

.ip-whitelist {
    .ip-container {
        background: #2f373e;
        color: #fff;
        padding: 35px 10px;
        text-align: center;
        font-size: 18px;
    }
}